#### Identitas:

In [ ]:
print('NAMA:')
print('<tuliskan nama lengkap Anda>')
print('')
print('NOMOR PESERTA:')
print('<tuliskan nomor peserta Anda>')

#### Lakukan 11 instruksi di bawah ini dengan menggunakan dataset berikut:
Catatan: Anda bebas menambah/mengedit kode dalam melakukan instruksi.

In [ ]:
#Importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Reading datasets
#main dataset
df = pd.read_csv('../data/covid_19_data.csv',sep=';')
#region and climate dataset
df_cat = pd.read_csv('../data/covid_19_data_cat.csv')

df

In [111]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [112]:
df = pd.read_csv('confirmed.csv')
df['Province/State'] = df['Province/State'].fillna(0)
df_group = df.groupby(['Country/Region', 'Province/State'], as_index = False).sum()
df_group = df_group.drop(['Lat','Long'], axis=1)
df_group = df_group.rename(columns = {'Country/Region': 'country', 'Province/State': 'province'})
df = pd.melt(df_group, id_vars = ['country','province'])
df = df.rename(columns = {'variable': 'date', 'value': 'confirmed'})
df.head()

       country province     date  confirmed
0  Afghanistan        0  1/22/20          0
1      Albania        0  1/22/20          0
2      Algeria        0  1/22/20          0
3      Andorra        0  1/22/20          0
4       Angola        0  1/22/20          0

In [113]:
df2 = pd.read_csv('recovered.csv')
df2['Province/State'] = df2['Province/State'].fillna(0)
df2_group = df2.groupby(['Country/Region', 'Province/State'], as_index = False).sum()
df2_group = df2_group.drop(['Lat','Long'], axis=1)
df2_group = df2_group.rename(columns = {'Country/Region': 'country','Province/State': 'province'})
df2 = pd.melt(df2_group, id_vars = ['country','province'])
df2 = df2.rename(columns = {'variable': 'date', 'value': 'recovered'})
df2.head()

       country province     date  recovered
0  Afghanistan        0  1/22/20          0
1      Albania        0  1/22/20          0
2      Algeria        0  1/22/20          0
3      Andorra        0  1/22/20          0
4       Angola        0  1/22/20          0

In [114]:
df3 = pd.read_csv('deaths.csv')
df3['Province/State'] = df3['Province/State'].fillna(0)
df3_group = df3.groupby(['Country/Region', 'Province/State'], as_index = False).sum()
df3_group = df3_group.drop(['Lat','Long'], axis=1)
df3_group = df3_group.rename(columns = {'Country/Region': 'country','Province/State': 'province'})
df3 = pd.melt(df3_group, id_vars = ['country','province'])
df3 = df3.rename(columns = {'variable': 'date', 'value': 'deaths'})
df3.head()

       country province     date  deaths
0  Afghanistan        0  1/22/20       0
1      Albania        0  1/22/20       0
2      Algeria        0  1/22/20       0
3      Andorra        0  1/22/20       0
4       Angola        0  1/22/20       0

In [115]:
df4 = pd.merge(df, df2, on = ['country', 'province', 'date'], how = 'outer')
df5 = pd.merge(df4, df3, on = ['country', 'province', 'date'], how = 'outer')
df5['date'] = pd.to_datetime(df5['date'])
df5.head()

       country province       date  confirmed  recovered  deaths
0  Afghanistan        0 2020-01-22        0.0        0.0     0.0
1      Albania        0 2020-01-22        0.0        0.0     0.0
2      Algeria        0 2020-01-22        0.0        0.0     0.0
3      Andorra        0 2020-01-22        0.0        0.0     0.0
4       Angola        0 2020-01-22        0.0        0.0     0.0

In [116]:
df5.to_csv('covid.csv')

In [117]:
df6 = df5.groupby(['country','date']).sum()
df6 = df6.reset_index(drop = False).set_index('date')
df6

                country  confirmed  recovered  deaths
date
2020-01-22  Afghanistan        0.0        0.0     0.0
2020-01-23  Afghanistan        0.0        0.0     0.0
2020-01-24  Afghanistan        0.0        0.0     0.0
2020-01-25  Afghanistan        0.0        0.0     0.0
2020-01-26  Afghanistan        0.0        0.0     0.0
...                 ...        ...        ...     ...
2021-10-06     Zimbabwe   131434.0        0.0  4630.0
2021-10-07     Zimbabwe   131523.0        0.0  4631.0
2021-10-08     Zimbabwe   131705.0        0.0  4634.0
2021-10-09     Zimbabwe   131762.0        0.0  4636.0
2021-10-10     Zimbabwe   131796.0        0.0  4637.0

[122460 rows x 4 columns]

In [118]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 122460 entries, 2020-01-22 to 2021-10-10
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   country    122460 non-null  object
 1   confirmed  122460 non-null  float64
 2   recovered  122460 non-null  float64
 3   deaths     122460 non-null  float64
dtypes: float64(3), object(1)
memory usage: 4.7+ MB

#### 1. Dataframe 'df' terdiri dari (a) ... columns dan (b) ... rows. Dataframe 'df' mengandung data dari (c) ... 'country' yang berbeda. Dataframe 'df' mengandung data hasil observasi selama (d) .... hari terhitung sejak tanggal (e) ... sampai tanggal (f) ...

(a)
<br>
(b)
<br>
(c)
<br>
(d)
<br>
(e)
<br>
(f)

#### 2. Ubah beberapa data pada kolom 'country' agar tidak ada nama berbeda untuk negara yang sama dengan aturan:
'original data','replace with this data':
<br>
"('St. Martin',)",'St. Martin'
<br>
' Azerbaijan','Azerbaijan'
<br>
'Cabo Verde','Cape Verde'
<br>
'Congo (Brazzaville)','Congo'
<br>
'Congo (Kinshasa)','Congo'
<br>
'North Ireland','Ireland'
<br>
'North Macedonia','Macedonia'
<br>
'occupied Palestinian territory','Palestine'
<br>
'Holy See','Vatican'
<br>
'Republic of Ireland','Ireland'
<br>
'The Bahamas','Bahamas'
<br>
'The Gambia','Gambia'
<br>
'Bahamas, The','Bahamas'
<br>
'Gambia, The','Gambia'
<br>
'Vatican City','Vatican'
<br>
'East Timor','Timor-Leste'
<br>
'West Bank and Gaza','Palestine'
<br>
'MS Zaandam','Others'
<br>
'Diamond Princess','Others'

#### 3. a. Beberapa 'country' pada dataframe 'df' data hariannya dibagi menjadi beberapa 'province'. Akumulasikan data 'confirmed','deaths', dan 'recovered' provinsi-provinsi ini sehingga data harian tiap negara hanya diwakili oleh 1 row dengan membuat dataframe baru 'df_new'.
#### b. Tambahkan kolom 'region' dan 'climate' pada 'df_new' dan isi dengan region dan climate untuk tiap negara dengan mengacu pada 'df_cat'
#### c. Filter 'df_new' hanya untuk tanggal 1 Maret 2020 - 13 Desember 2020. Drop semua row pada 'df_new' yang data 'confirmed'-nya di bawah 100. Drop semua data 'country' yang data 'region' atau 'climate'-nya NaN.
#### d. Buat line plot berdasarkan dataframe 'df_new' dengan data 'date' sebagai x dan data 'confirmed' sebagai y, di mana tiap garis menggambarkan data 1 region.
#### e. Buat line plot berdasarkan dataframe 'df_new' dengan data 'date' sebagai x dan data 'confirmed' sebagai y, di mana tiap garis menggambarkan data 1 kelompok iklim.

#### 4.a. Buat dataframe 'df_last' yang hanya mengandung data tanggal terakhir dari 'df_new', di mana tiap row menunjukkan data 'confirmed', 'deaths', 'recovered', 'region', dan 'climate' untuk 1 negara.
#### b. Berdasarkan df_last, identifikasi 10 negara dengan data 'deaths' tertinggi. Buat barplotnya.
#### c. Buat beberapa kolom baru pada 'df_last': 
##### Kolom 'active_case' yang merupakan hasil perhitungan 'confirmed' dikurangi 'recovered' dan 'deaths'. 
##### Kolom 'active_case_%' yang merupakan hasil perhitungan 'active_case' dibagi 'confirmed' dikali 100. 
##### Kolom 'deaths_%' yang merupakan hasil perhitungan 'deaths' dibagi 'confirmed' dikali 100. 
##### Kolom 'recovered_%' yang merupakan hasil perhitungan 'recovered' dibagi 'confirmed' dikali 100.
#### d. Buat scatter matrix berdassarkan 'df_last' untuk kolom 'active_case_%', 'deaths_%', dan 'recovered_%'  (bedakan warna scatter plot berdasarkan region).
#### e. Lakukan hal yang sama dengan membedakan warna scatter plot berdasarkan iklim.

#### 5. Dengan mengasumsi syarat melakukan tes ANOVA terpenuhi, lakukan ANOVA untuk menguji adanya hubungan antara region dan data 'active_case_%', 'deaths_%', dan 'recovered_%' (3 TES ANOVA YANG BERBEDA) pada 'df_last'. Tuliskan kesimpulan dari hasil tesnya.

#### 6. Dengan mengasumsi syarat melakukan independent t-test terpenuhi, lakukan independent t-test untuk menguji adanya hubungan antara kelompok iklim dan data 'active_case_%', 'deaths_%', dan 'recovered_%' (3 INDEPENDENT T-TEST YANG BERBEDA) pada 'df_last'. Tuliskan kesimpulan dari hasil tesnya.

#### 7. Buat kolom 'safety' pada 'df_last'. Apabila data suatu negara memenuhi 'active_case_%' < 10, 'deaths_%' < 5, 'recovered_%' > 95 labeli negara ini dengan 'safe' pada kolom 'safety'. Apabila tidak memenuhi kriteria, labeli dengan 'not_safe'. Berapa negara yang masuk kategori 'safe'? Berapa negara yang masuk kategori 'not_safe'?

In [128]:
X_new=np.array([[1000,30,200],
       [2000,40,400],
       [50,1,2]])

#### 8. a. Buat DataFrame baru dengan yang mengeksklusi data Indonesia, US, Brazil, New Zealand, Singapore dari 'df_last'. Buatlah classifier model untuk memprediksi kategori 'safety' pada DataFrame yang baru dibuat. Tampilkan nilai performance dari model yang Anda buat.

#### b. Gunakan model classifier yang Anda buat untuk melabeli kategory 'safety' pada data Indonesia, US, Brazil, New Zealand, Singapore dari 'df_last'. Apa label 'safety' yang diprediksi oleh model Anda untuk masing-masing negara tersebut? Apakah hasil prediksi model Anda sesuai dengan kriteria safety pada nomor 8? Apabila tidak, faktor apa yang mempengaruhinya?

In [129]:
X_new=np.array([[1000,30,200],
       [2000,40,400],
       [50,1,2]])

#### 9. Buatlah model regresi untuk data 'active_case_%' di US pada 'df_last'. Plot model regresi ini bersama data aslinya dalam satu graph. Hitung nilai performance dari model regresi yang Anda buat.

#### 10. Buatlah clustering model dengan jumlah cluster sebanyak 5 (cluster 0-4) untuk array 'Z'. Sebutkan prediksi nomor cluster berdasarkan data 'active_case_%', 'deaths_%', dan 'recovered_%' pada 'df_last' untuk negara:
<br>
a. Indonesia
<br>
b. Singapore
<br>
c. US
<br>
d. Italy
<br>
e. Iran

In [130]:
Z=df_last.loc[:,['active_case_%', 'deaths_%', 'recovered_%']].values

NameError: name 'df_last' is not defined