#### Identitas:

In [ ]:
print('NAMA:')
print('<tuliskan nama lengkap Anda>')
print('')
print('NOMOR PESERTA:')
print('<tuliskan nomor peserta Anda>')

#### Lakukan 11 instruksi di bawah ini dengan menggunakan dataset berikut:
Catatan: Anda bebas menambah/mengedit kode dalam melakukan instruksi.

In [ ]:
#Importing required modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#Reading datasets
#main dataset
df = pd.read_csv('../data/covid_19_data.csv',sep=';')
#region and climate dataset
df_cat = pd.read_csv('../data/covid_19_data_cat.csv')

df

#### 1. Dataframe 'df' terdiri dari (a) ... columns dan (b) ... rows. Dataframe 'df' mengandung data dari (c) ... 'country' yang berbeda. Dataframe 'df' mengandung data hasil observasi selama (d) .... hari terhitung sejak tanggal (e) ... sampai tanggal (f) ...

(a)
<br>
(b)
<br>
(c)
<br>
(d)
<br>
(e)
<br>
(f)

#### 2. Ubah beberapa data pada kolom 'country' agar tidak ada nama berbeda untuk negara yang sama dengan aturan:
'original data','replace with this data':
<br>
"('St. Martin',)",'St. Martin'
<br>
' Azerbaijan','Azerbaijan'
<br>
'Cabo Verde','Cape Verde'
<br>
'Congo (Brazzaville)','Congo'
<br>
'Congo (Kinshasa)','Congo'
<br>
'North Ireland','Ireland'
<br>
'North Macedonia','Macedonia'
<br>
'occupied Palestinian territory','Palestine'
<br>
'Holy See','Vatican'
<br>
'Republic of Ireland','Ireland'
<br>
'The Bahamas','Bahamas'
<br>
'The Gambia','Gambia'
<br>
'Bahamas, The','Bahamas'
<br>
'Gambia, The','Gambia'
<br>
'Vatican City','Vatican'
<br>
'East Timor','Timor-Leste'
<br>
'West Bank and Gaza','Palestine'
<br>
'MS Zaandam','Others'
<br>
'Diamond Princess','Others'

#### 3. a. Beberapa 'country' pada dataframe 'df' data hariannya dibagi menjadi beberapa 'province'. Akumulasikan data 'confirmed','deaths', dan 'recovered' provinsi-provinsi ini sehingga data harian tiap negara hanya diwakili oleh 1 row dengan membuat dataframe baru 'df_new'.
#### b. Drop semua row pada 'df_new' yang data 'confirmed'-nya di bawah 100
#### c. Tambahkan kolom 'region' dan 'climate' pada 'df_new' dan isi dengan region dan climate untuk tiap negara dengan mengacu pada 'df_cat'
#### d. Buat line plot berdasarkan dataframe 'df_new' dengan data 'date' sebagai x dan data 'confirmed' sebagai y, di mana tiap garis menggambarkan data akumulatif 1 region. (style bebas)
#### e. Buat line plot berdasarkan dataframe 'df_new' dengan data 'date' sebagai x dan data 'confirmed' sebagai y, di mana tiap garis menggambarkan data akumulatif 1 kelompok iklim. (style bebas)

In [ ]:
#Jawaban 3.a.

#Jawaban 3.b.

#Jawaban 3.c.

#Jawaban 3.d.

#Jawaban 3.e.

#### 4.a. Buat dataframe 'df_last' yang hanya mengandung data tanggal terakhir dari 'df_new', di mana tiap row menunjukkan data 'confirmed', 'deaths', 'recovered', 'region', dan 'climate' untuk 1 negara.
#### b. Berdasarkan df_last, identifikasi 10 negara dengan data 'deaths' tertinggi. Buat barplotnya.
#### c. Lakukan visual EDA pada dataframe 'df_last' untuk kolom 'confirmed', 'deaths', dan 'recovered' menggunakan scatter matrix (bedakan warna scatter plot berdasarkan region)
#### d. Lakukan hal yang sama dengan membedakan warna scatter plot berdasarkan iklim

In [ ]:
#Jawaban 4.a.

#Jawaban 4.b.

#Jawaban 4.c.

#Jawaban 4.d.

#### 5. a. mengacu pada hasil 4.c. dan d., data apa saja yang secara visual terlihat memiliki distribusi normal?
#### b. konfirmasi jawaban 5. a. dengan menggunakan normality test dari modul scipy.

a.

In [ ]:
#Jawaban 5.b.

#### 6. Dengan asumsi syarat melakukan independent t-test terpenuhi, lakukan independent t-test untuk menguji adanya hubungan antara kelompok iklim dan data 'confirmed' pada 'df_last'.

#### 7. (Mengacu pada hasil nomor 6) Dengan menentukan nilai alpha=0.05, apakah hipotesis 0 bahwa 'tidak ada hubungan antara kelompok iklim dan data 'Confirmed' dapat ditolak? Apa alasannya?

7.

#### 8. Buatlah model classifier untuk memprediksi region untuk array 'X_new' berdasarkan data 'confirmed', 'deaths', dan 'recovered' yang ada pada 'df_last'. Tampilkan akurasi dari modelnya menggunakan training/test split.

In [ ]:
X_new=np.array([[1000,30,200],
       [2000,40,400],
       [50,1,2]])

#### 9. Buatlah classifier model untuk memprediksi climate untuk array 'X_new' berdasarkan data 'confirmed', 'deaths', dan 'recovered' yang ada pada 'df_last'. Tampilkan nilai akurasi dari modelnya menggunakan training/test split.

In [ ]:
X_new=np.array([[1000,30,200],
       [2000,40,400],
       [50,1,2]])

#### 10. Buatlah model regresi linear untuk sebaran jumlah 'deaths' di US dari tanggal 20 Maret 2020 - 10 Agustus 2020. Buatlah plot dari model regresi ini. Hitung nilai R^2 dan RMSE dari modelnya menggunakan training/test split.

#### 11. Buatlah clustering model dengan jumlah cluster sebanyak 5 (cluster 0-4) untuk array 'Z'. Sebutkan prediksi nomor cluster berdasarkan data 'confirmed', 'deaths', dan 'recovered' pada 'df_last' untuk negara:
<br>
a. Indonesia
<br>
b. Singapore
<br>
c. US
<br>
d. Italy
<br>
e. Iran

In [ ]:
Z=df_last.loc[:,['confirmed','recovered','deaths']].values